@import '../../assets/silentStyles.scss';

.hero-wrapper {
  background-color: #0E141B;
  color: #F1F1F1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 60px);
  overflow: hidden;
}

.hero-content {
  width: 100%;
  gap: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 60px;

  @media screen and (min-width: 900px) {
    padding: 0 2rem;
    flex-direction: row;
    margin-top: 100px;
  }
}

.hero-wrapper .hero-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  max-width: 500px;
  gap: 0.5rem;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;

  @media screen and (min-width: 800px) {
    align-items: flex-start;
    text-align: start;
    gap: 1.5rem;
  }
}

.hero-title {
  font-size: 3rem;
  white-space: nowrap;
  font-family: "Changa One", sans-serif;
  font-weight: 400;
  font-style: normal;

  @media screen and (min-width: 800px) {
    font-size: 4rem;
  }
}

.hero-header {
  font-size: 1.2rem;
}

.hero-title .highlighted-text {
  color: #9656CE;
}

.cta-group {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.primary-cta {
  @extend %cta;
  border: none;
  color: #F1F1F1;
  background-color: #9656CE;
}

.secondary-cta {
  @extend %cta;
  border-radius: 5px;
  color: #F1F1F1;
  border: 1px solid #F1F1F1;
}

.hero-right {
  position: relative;
  display: flex;
  justify-content: center;
  width: 90%;
  max-width: 700px;

  @media screen and (min-width: 800px) {
    width: 100%;
    max-width: 600px;
  }
}

.blob {
  position: relative;
  animation: float 4s linear infinite;
}

.blob-1 {
  width: 100%;
}

.hero-image {
  z-index: 2;
  width: 70%;
  position: absolute;
  top: 0;
  pointer-events: none;
  transform: translateY(40px);
  border-radius: 30%;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }

  20% {
    transform: translatey(-40px);
    transform: rotate(5deg);
  }

  80% {
    transform: translatey(40px);
    transform: rotate(-5deg);
  }

  100% {
    transform: translatey(0px);
    transform: rotate(0deg);
  }
}

.swipe-icon {
  height: 2.5rem;
  width: 2.5rem;
  opacity: .3;
  margin-top: auto;
  margin-bottom: 3rem;
  -moz-animation: shakeme 3s infinite;
  -o-animation: shakeme 3s infinite;
  -webkit-animation: shakeme 3s infinite;
  animation: shakeme 10s infinite;
  animation-delay: 5s;
  pointer-events: none;
}

@keyframes shakeme {

  2%,
  18% {
    transform: translateY(-3px);
  }

  4%,
  16% {
    transform: translateY(3px);
  }

  6%,
  10%,
  14% {
    transform: translateY(-3px);
  }

  8%,
  12% {
    transform: translateY(3px);
  }

  20% {
    transform: translateY(0);
  }
}