@import '../../assets/silentStyles.scss';
@import '../../assets/global_variables.scss';

.hero-wrapper {
  background-color: $black-2;
  color: $white-1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: calc(var(--hero-height) - $nav-height);
  overflow: hidden;
  padding: 0 1rem;

  @media ($tablet-portrait-breakpoint) {
    min-height: calc(var(--hero-height) - $nav-height);
    padding: 0 2rem;
  }
}

.hero-content {
  width: 100%;
  max-width: $desktop-size;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 48px;

  @media ($tablet-portrait-breakpoint) {
    flex-direction: row;
    margin-top: 100px;
    gap: 2rem;
  }
}

.hero-wrapper .hero-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 500px;
  gap: 0.5rem;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;

  @media ($tablet-portrait-breakpoint) {
    align-items: flex-start;
    text-align: start;
    gap: 1.5rem;
  }
}

.hero-title {
  font-size: 3rem;
  font-family: "Changa One", sans-serif;
  font-weight: 400;
  font-style: normal;

  @media ($tablet-portrait-breakpoint) {
    font-size: 4rem;
  }
}

.hero-header {
  font-size: 1rem;

  @media ($tablet-portrait-breakpoint) {
    font-size: 1.2rem;
  }
}

.hero-title .highlighted-text {
  color: $primary;
}

.cta-group {
  margin-top: 1rem;
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.primary-cta {
  @extend %cta;
  border: none;
  color: $white-1;
  background-color: $primary;
}

.secondary-cta {
  @extend %cta;
  border-radius: 5px;
  color: $white-1;
  border: 1px solid $white-1;
}

.hero-right {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 500px;

  @media ($tablet-portrait-breakpoint) {
    width: 100%;
    max-width: 600px;
  }
}

.blob {
  position: relative;
  animation: float 4s linear infinite;
}

.blob-1 {
  width: 100%;
}

.hero-image {
  z-index: 2;
  width: 70%;
  position: absolute;
  top: 0;
  pointer-events: none;
  transform: translateY(40px);
  border-radius: 30%;
}

.swipe-icon {
  height: 2rem;
  width: 2rem;
  opacity: .3;
  margin-bottom: 2rem;
  -moz-animation: shakeme 3s infinite;
  -o-animation: shakeme 3s infinite;
  -webkit-animation: shakeme 3s infinite;
  animation: shakeme 10s infinite;
  animation-delay: 5s;
  pointer-events: none;

  @media ($tablet-portrait-breakpoint) {
    height: 2.5rem;
    width: 2.5rem;
    margin-bottom: 3rem;
  }
}
