@import '../../assets/global_variables.scss';

.navbar__wrapper {
    width: 100%;

    &--open {
        .navbar__overlay {
            visibility: visible;
            opacity: .8;
            transition: opacity 0.3s ease-in-out;

            @media ($tablet-portrait) {
                visibility: hidden;
            }
        }

        .navbar__list {
            transform: translateX(0);
            visibility: visible;
        }
    }
}

.navbar__overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 998;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0s 0.3s;
    background-color:#ffb499;
    background-image:
    radial-gradient(at 41% 86%, hsla(288,86%,79%,1) 0px, transparent 50%),
    radial-gradient(at 86% 19%, hsla(260,88%,64%,1) 0px, transparent 50%),
    radial-gradient(at 15% 55%, hsla(82,75%,76%,1) 0px, transparent 50%),
    radial-gradient(at 60% 1%, hsla(109,65%,74%,1) 0px, transparent 50%),
    radial-gradient(at 78% 35%, hsla(243,83%,66%,1) 0px, transparent 50%),
    radial-gradient(at 70% 98%, hsla(304,76%,65%,1) 0px, transparent 50%),
    radial-gradient(at 85% 93%, hsla(167,94%,70%,1) 0px, transparent 50%);
    filter: brightness(50%) contrast(150%);
}

.navbar__visible {
    position: relative;
    width: 100%;
    background-color: $black-2;
    display: flex;
    justify-content: center;
    height: 3.75rem;
    padding: 0 1rem;
    z-index: 999;
}

.navbar__content {
    width: 100%;
    max-width: 1080px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__list {
    position: absolute;
    top: 3.75rem;
    left: 0;
    display: flex;
    width: calc(100% - 56px);
    background-color: $black-2;
    flex-direction: column;
    justify-content: center;
    transform: translateX(-100%);
    visibility: hidden;
    transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out;

    @media ($tablet-portrait) {
        transition: none;
        position: static;
        transform: translateX(0);
        visibility: visible;
        padding: 0;
        background: none;
        flex-direction: row;
        justify-content: space-evenly;
        max-width: 70%;
    }
}

.navbar__logo {
    padding: 0.5rem;
    position: relative;
    font-weight: bold;
    font-size: 1rem;
    font-family: 'Poppins', 'Fira Sans', sans-serif;
    min-width: fit-content;

    &::after {
        content: '_';
        color: $primary;
    }
}

.navbar__item {
    padding: 1rem;
    border-top: 1px solid $black-1;
    position: relative;

    &::before {
        content: "//";
        color: $white-1;
        margin-right: 0.5rem;
    }

    @media ($tablet-portrait) {
        margin-right: 2rem;
        border: none;
        padding: 0.5rem;
    }
}

.navbar__link {
    @extend %pseudo-selector-overlay;
    text-decoration: none;
    color: $white-1;

    &:focus-visible {
        outline: none;
    }

    &:hover {
        color: $primary;
    }

    &:active {
        color: $primary;
    }
}

.navbar__link:not(.navbar__logo) {
    &::after {
        outline-offset: -2px;
    }

    @media ($tablet-portrait) {
        &::after {
            outline-offset: 0;
        }
    }
}

.navbar__btn {
    border: none;
    background: none;
    font-size: 1.85rem;
    line-height: 1;
    color: $white-1;
    padding: 0.5rem;
    transition: color 0.1s ease-in-out;

    &:hover {
        color: $white-1;
    }

    &:active {
        color: $primary;
        animation: spin 1s linear infinite;
    }

    &:focus-visible {
        outline: 2px solid $primary;
        border-radius: 3px;
    }

    @media ($tablet-portrait) {
        display: none;
    }
}